/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "CB2 DSI1 Raspberry Pi 7-inch panel control on I2C1";
		compatible = "bigtreetech,cb2";
		category = "display";
		description = "Enable CB2 DSI1 and move the Raspberry Pi 7-inch display MCU from I2C2 to I2C1 (GPIO0_B3/GPIO0_B4).";
	};

	fragment@0 {
		target = <&vop>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&vop_mmu>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&display_subsystem>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&dsi1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&dsi1_panel>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&dsi1_in_vp1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&video_phy1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@7 {
		target = <&i2c1>;
		__overlay__ {
			status = "okay";
			clock-frequency = <100000>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c1_xfer>;
			#address-cells = <1>;
			#size-cells = <0>;

			regulator@45 {
				compatible = "raspberrypi,7inch-touchscreen-panel-regulator";
				reg = <0x45>;
				status = "okay";
			};

			ft5406@38 {
				compatible = "edt,edt-ft5406";
				reg = <0x38>;
				vcc-supply = <&vcc3v3_sys>;
				iovcc-supply = <&vcc_3v3>;
				touchscreen-size-x = <800>;
				touchscreen-size-y = <480>;
				touchscreen-inverted-x;
				touchscreen-inverted-y;
				status = "okay";
			};
		};
	};
};
