/PCB/**/*-backups
/PCB/**/fp-*
/PCB/**/production/
/PCB/**/*.kicad_prl
/PCB/**/*.lck
/PCB/**/fabrication-toolkit-options.json
/PCB/**/*.kicad*-bak
/PCB/**/#auto_saved_files#
*.log
/Firmware/bms-tiny404/build/
/Firmware/bms-tiny404/dist/